<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon-76X76.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/gaia.css" rel="stylesheet"/>
    

    <!--     Fonts and icons     -->
    <link href='https://fonts.googleapis.com/css?family=Cambo|Poppins:400,600' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/fonts/pe-icon-7-stroke.css" rel="stylesheet">
</head>

<body>
   <div >
    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent" id="navbr" color-on-scroll="200">
        <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
        <div class="container">
            <div class="navbar-header">
                    
                <a *ngIf="pageDetails" href="#" class="navbar-brand">
                    {{pageDetails.content.profileTile.clinic}}
                </a>
            </div>
           
            
            <div class="collapse navbar-collapse">
                <!--<ul class="nav navbar-nav navbar-right navbar-uppercase">
                    <li>
                        <a href="http://www.creative-tim.com/product/gaia-bootstrap-template-pro" target="_blank">Get PRO Version</a>
                    </li>
                    <li class="dropdown">
                        <a href="#gaia" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-share-alt"></i> Share
                        </a>
                        <ul class="dropdown-menu dropdown-danger">
                            <li>
                                <a href="#"><i class="fa fa-facebook-square"></i> Facebook</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i> Instagram</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://www.creative-tim.com/product/gaia-bootstrap-template" class="btn btn-danger btn-fill">Free Download</a>
                    </li>
                </ul>-->
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>

 <!--<div *ngIf="resourcePage" class="section section-header">
        <div *ngIf="resourceDetailsReady" class="parallax filter filter-color-blue"   style="min-height: 800px;">
            <div class="image" 
               [style.background-image]=getSafeURL(pageDetails.content.heroTile.bgImage)
               style="min-height: 800px;">
            </div>
            <div *ngIf="resourceDetailsReady" class="container" style="padding-top: 40px;">
                <div class="content">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8" >
                    <div class="card card-content"  style="margin-bottom: 40px;">
                        <h1 class="title-modern" style="margin-bottom: 20px;">{{resourceDetails.title}}</h1>
                        
                        <div id="resourcePreview">
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
 </div>-->
     <div *ngIf="resourcePage" class="section" id="resourceSection" style="background-color: #137a9c;">
       
           
            <div *ngIf="pageDetails" class="container">
                <div class="content">
                    <div class="row">
                    <div class="title-area">
                        <p></p>
                        <h2 style="color: #fff;">{{resourceDetails.title}}</h2>
                        <br>
                        <div class="col-sm-10 col-sm-offset-1">
                          <div class="card card-profile" style="transform: translate3d(0px, 0px, 0px); opacity: 1; text-align: left;">
                      
<div class="card-content">
    <div id="resourcePreview">
                        </div>
 </div>

</div>
                        </div>
                        
                    </div>
                    </div>

                   
                </div>

            </div>
      
    </div>
    <div *ngIf="doctorPage" class="section section-header" id="heroSection">
        <div *ngIf="pageDetails" class="parallax filter filter-color-blue"   style="min-height: 800px;">
            <div class="image" 
               [style.background-image]=getSafeURL(pageDetails.content.heroTile.bgImage)
               style="min-height: 800px;">
            </div>
            <div *ngIf="pageDetails" class="container">
                <div class="content">
                    <div class="title-area">
                        <p>{{pageDetails.content.heroTile.title}}</p>
                        <h1 class="title-modern" style="margin-bottom: 20px;">{{pageDetails.content.heroTile.text}}</h1>
                        <!--<h2>{{pageDetails.Content.heroText2}}</h2>-->
                        <div class="col-sm-6 col-sm-offset-3">
                          <div class="card card-profile" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
                        <div class="card-avatar" style="width: 90px; height: 90px; border-radius: 50%; padding: 1px; background-color:#fff; ">
<!--<i class="material-icons">content_copy</i>-->
<img src="{{pageDetails.content.heroTile.card.image}}" style="border-radius: 50%; width: 88px; height: 88px;">
</div>
<div class="card-content">
    <!--<p class="category">{{pageDetails.content.heroTile.card.title}}</p>-->
    <h3 class="title-modern">{{pageDetails.content.heroTile.card.title}}
        <br><small>{{pageDetails.content.heroTile.card.qual}}</small>
        <br><small>{{pageDetails.content.heroTile.card.experience}} years of experience</small></h3>
        <a (click)="showCheckInButton()" style="color: blue; cursor: pointer" >At the clinic?</a>
        <hr/>
        <button *ngIf="showCheckin" (click)="patientLogin()" class="btn btn-round"> Patient Check-in </button>
</div>

</div>
                        </div>
                        
                    </div>

                   
                </div>

            </div>
        </div>
    </div>
    	<div class="header" id="heroSection">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
								<div class="carousel slide" data-ride="carousel">

									
									<ol class="carousel-indicators">
										<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
										
									</ol>

								
									<div class="carousel-inner" style="min-height: 600px;">
										<div class="item active parallax filter filter-color-blue">
											<div style="background: #008b9c;">
											<div class="carousel-caption" style="height: 100%;  top: 20%;">
												<div class="col-md-6" style="text-align: left;">
												<h3 class="title-modern" ><b>A Modern Approach to Woman Care</b></h3>
												<h6 class="title-modern">We understand today's working women. Our treatments and protocols are built keeping your busy routine in mind. We leverage technology, to help you spend lesser time travelling and waiting, and more time getting better.</h6>
											<button class="btn btn-round" style="border-color: #FFFFFF; color: #FFFFFF; background-color: transparent; border: 1px solid white;">Learn More</button>
											</div>
												<!--<h4><i class="material-icons">location_on</i> Yellowstone National Park, United States</h4>-->
											</div>
											</div>
											<img [src]="pageDetails.content.heroTile.bgImage" alt="Awesome Image" >
											
											
											
										</div>
										
									</div>

									
								</div>
							</div>
	</div>
<div *ngIf="blogPage" class="section section-header" id="heroSection">
        <div  class="parallax filter filter-color-blue"   style="min-height: 800px;">
            <div class="image" 
               [style.background-image]=getSafeURL(blogData.BGImage)
               style="min-height: 800px;">
            </div>
            <div  class="container">
                <div class="content">
                    <div class="title-area" style="height: 50%;">
                        
                        <h1 class="title-modern" style="text-overflow:ellipsis; white-space: nowrap; overflow: hidden; margin-bottom: 20px; font-size: 100px;">{{blogData.Title}}</h1>
                        <p style="text-overflow:ellipsis; white-space: nowrap; overflow: hidden; margin-bottom: 20px; font-size: 20px;">Comments by {{pageDetails.content.profileTile.doctor.name}}</p>
                        <!--<h2>{{pageDetails.Content.heroText2}}</h2>-->
                       
                        
                    </div>

                   
                </div>

            </div>
        </div>
    </div>
   <div *ngIf="blogPage" class="section" id="blogDetailSection" style="background-color: #ddd">
        <div *ngIf="blogData" class="container" >
           
            <div class="row row-centered">
                
                    <div class="info-icon">
                       
                         <p style="margin-left: 15%; margin-right: 15%; margin-top: 20px; text-align: left; font-weight: 700;" class="description">Comments</p>
                         <p style="margin-left: 15%; margin-right: 15%; margin-top: 20px;  text-align: left;" class="description">{{blogData.Comment}}</p>
                        <div class="col-sm-10 col-sm-offset-1">
                         <div class="card">
                             <div class="card-content">

                                 <p style="margin-left: 15%; margin-right: 15%; margin-top: 20px; text-align: left; font-weight: 700;" class="description">Complete article</p>
                         <p style="margin-left: 15%; margin-right: 15%; margin-top: 20px;  text-align: left;" class="description">{{blogData.Text}}</p>
                             </div>
                         </div>
                        </div>
                    </div>
                
                
                
            </div>
        </div>
    </div>

    <div class="section" id="bookingSection">
        <div *ngIf="pageDetails" class="container">
            <div class="row">
                <div class="title-area">
                    <div class="title-modern">
                    <h1>{{pageDetails.content.bookingTile.title}}</h1>
                    </div>
                   
                   
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="info-icon">
                       
                         <p style="margin-left: 15%; margin-right: 15%; margin-top: 20px;  text-align: left;" class="description">{{pageDetails.content.bookingTile.text}}</p>
                         <p style="margin-left: 15%; margin-right: 15%; margin-top: 20px; text-align: left; font-weight: 700;" class="description">Consultation Fee: Rs. {{pageDetails.content.bookingTile.fee}}</p>
                         <p style="margin-left: 15%; margin-right: 15%; margin-top: 20px;  text-align: left;" class="description">Additional Rs. 30 for Phone Consultation charges</p>
                       
                    </div>
                </div>
                  <div class="col-sm-6">
                <div class="col-sm-10">
                        

        <div class="card card-stats">
            <div class="card-header" style="width: 60px; height: 60px; padding: 0px;" data-background-color="orange">
<i class="material-icons">local_hospital</i>

</div>

<div class="card-content">
     <h3 class="title">{{pageDetails.content.bookingTile.booking.title}}
            <br>
            <small>{{pageDetails.content.bookingTile.booking.text}}</small></h3>
        
<div class="card-footer">
    <app-caredone-form
        [clinicId]="clinicId"
        [availableSlots]="pageDetails.availability"
        [fee]="fee"
        [drName]="pageDetails.content.profileTile.doctor.name"
        [drImage]="pageDetails.content.profileTile.doctor.image" 
        ></app-caredone-form>
   </div>

</div>
</div>

                </div>
                  </div>
                
            </div>
        </div>
    </div>
   <div  *ngIf="pageDetails && pageDetails.content.specializations" id="specializationSection" class="section" style="background-color: #bbb">
        <div >
           
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        
                        <p>Below are our core specialization areas</p>
                        <h1 class="title-modern" style="margin-bottom: 20px;">Our Specialization</h1>
                        <!--<h2>{{pageDetails.Content.heroText2}}</h2>-->
                       <div class="row row-centered">
                        <div class="col-md-4 col-centered" *ngFor="let partner of pageDetails.content.specializations; let k = index;" >
                          <div class="card card-profile" style="transform: translate3d(0px, 0px, 0px); opacity: 1; background-color: #fff;">
                        
<div class="card-content">
    <!--<p class="category">{{pageDetails.content.heroTile.card.title}}</p>-->
    <h3  style="text-overflow: ellipsis; overflow: hidden; width: 100%; height: 45px;"class="title-modern">{{partner.title}}</h3>
        <br><p style="text-overflow: ellipsis; overflow: hidden; width: 100%; height: 135px;">{{partner.brief}}</p>
       
         <a [href]="'/resource/'+partner.webTitle" class="btn btn-danger btn-round">Learn More</a>
</div>

</div>
                       
                        </div>
                       </div>
                        
                    </div>

                   
                </div>

            </div>
        </div>
    </div>
    <div class="section" id="profileSection" style="background-color: #137a9c;">
       
           
            <div *ngIf="pageDetails" class="container">
                <div class="content">
                    <div class="row">
                    <div class="title-area">
                        <p></p>
                        <h2 style="color: #fff;">{{pageDetails.content.profileTile.title}}</h2>
                        <br>
                        <div class="col-sm-10 col-sm-offset-1">
                          <div class="card card-profile" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
                        <div class="card-avatar" style="width: 120px; height: 120px; border-radius: 50%; padding: 2px; background-color:#fff; ">
<!--<i class="material-icons">content_copy</i>-->
<img src="{{pageDetails.content.profileTile.doctor.image}}" style="border-radius: 50%; width: 116px; height: 116px;">
</div>
<div class="card-content">
    <!--<p class="category">{{pageDetails.content.heroTile.card.title}}</p>-->
    <h3 class="title-modern">{{pageDetails.content.profileTile.doctor.name}}
        <br><small>{{pageDetails.content.profileTile.doctor.qual}}</small>
        <br><small>{{pageDetails.content.profileTile.doctor.experience}} of experience</small>
        <br>
        <br>
        <p>{{pageDetails.content.profileTile.doctor.brief}}</p></h3>
        <a *ngIf="pageDetails.content.footer.linkedin" href="{{pageDetails.content.footer.linkedin}}" target="blank" class="btn btn-round"> View on Linkedin</a>
        
</div>

</div>
                        </div>
                        
                    </div>
                    </div>

                   
                </div>

            </div>
      
    </div>
   <div  *ngIf="partnerDetailsReady" id="partnerSection" class="section" style="background-color: #ccc;">
       
           
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <p>Below are other Consultants we partner with</p>
                        <h1 class="title-modern" style="margin-bottom: 20px;">Our Consultants</h1>
                        <!--<h2>{{pageDetails.Content.heroText2}}</h2>-->
                       <div class="row row-centered">
                           
                        <div class="col-md-4 col-centered" *ngFor="let partner of fullPartnerList.consult; let i = index;" >
                          <div  class="card card-profile" style="transform: translate3d(0px, 0px, 0px); opacity: 1; height: 250px;">
                          <div class="card-avatar" style="width: 100px; height: 100px;" data-background-color="cureyo">
                    
                        <img *ngIf="partner.uid" class="img" src="https://graph.facebook.com/{{partner.uid}}/picture?type=large" />
                        <i *ngIf="!partner.uid" class="material-icons" style="color: #ffffff; line-height: 100px; font-size: 60px;">{{partner.icon}} </i>
                </div>
<div class="card-content">
    <!--<p class="category">{{pageDetails.content.heroTile.card.title}}</p>-->
    <h3 class="title-modern">{{partner.name}}
        <br><small>{{partner.category}}</small>
        <br><small>{{partner.type}}</small></h3>
         <br><small>{{partner.brief}}</small>
        <a *ngIf="partner.uid" href="{{partnerLink[i]}}" class="btn btn-danger btn-round">Visit</a>
</div>

</div>
                       
                        </div>
                       </div>
                    </div>

                   
                </div>

            </div>
        
    </div>
<div  *ngIf="partnerDetailsReady" id="partnerSection" class="section" style="background-color: #ccc;">
       
           
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <p>Our vendor partners</p>
                        <h1 class="title-modern" style="margin-bottom: 20px;">Facilities we provide</h1>
                        <!--<h2>{{pageDetails.Content.heroText2}}</h2>-->
                       <div class="row row-centered">
                           
                        <div class="col-md-4 col-centered" *ngFor="let partner of fullPartnerList.vendor; let i = index;" >
                          <div  class="card card-stats" style="transform: translate3d(0px, 0px, 0px); opacity: 1; height: 250px;">
                          <div class="card-header " style="width: 100px; height: 100px;" data-background-color="cureyo">
                    
                        <img *ngIf="partner.uid" class="img" src="https://graph.facebook.com/{{partner.uid}}/picture?type=large" />
                        <i *ngIf="!partner.uid" class="material-icons" style="color: #ffffff; line-height: 100px; font-size: 60px;">{{partner.icon}} </i>
                </div>
<div class="card-content">
    <!--<p class="category">{{pageDetails.content.heroTile.card.title}}</p>-->
    <h3 class="title-modern">{{partner.name}}
        <br><small>{{partner.category}}</small>
        <br><small>{{partner.type}}</small></h3>
         <br><small>{{partner.brief}}</small>
        <a *ngIf="partner.uid" href="{{partnerLink[i]}}" class="btn btn-danger btn-round">Visit</a>
</div>

</div>
                       
                        </div>
                       </div>
                    </div>

                   
                </div>

            </div>
        
    </div>

    <div  *ngIf="pageDetails && pageDetails.content.Blogs" id="blogSection" class="section" style="background-color: #bbb">
        <div >
           
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        
                        <p>Some useful reads for you</p>
                        <h1 class="title-modern" style="margin-bottom: 20px;">Our Blog</h1>
                        <!--<h2>{{pageDetails.Content.heroText2}}</h2>-->
                       <div class="row row-centered">
                        <div class="col-md-4 col-centered" *ngFor="let partner of blogBox; let k = index;" >
                          <div class="card card-stats" style="transform: translate3d(0px, 0px, 0px); opacity: 1; background-color: #fff;">
                        <div class="card-header">
                            <img src="{{partner.Image}}">
                        </div>
<div class="card-content">
    <!--<p class="category">{{pageDetails.content.heroTile.card.title}}</p>-->
    <h3  style="text-overflow: ellipsis; overflow: hidden; width: 100%; height: 45px;"class="title-modern">{{partner.Title}}</h3>
        <br><p style="text-overflow: ellipsis; overflow: hidden; width: 100%; height: 135px;">{{partner.Comment}}</p>
       
         <a [href]="'/blog/'+partner.link" class="btn btn-danger btn-round">Learn More</a>
</div>

</div>
                       
                        </div>
                       </div>
                        
                    </div>

                   
                </div>

            </div>
        </div>
    </div>




    <!--<div *ngIf="pageDetails" class="section section-small section-get-started" id="map">
        <div class="parallax filter" *ngIf="pageDetails.content">
            <maps-cmp></maps-cmp>
            <div class="container">
                <div class="title-area">
                    <h2 class="text-white">{{pageDetails.content.map.title}}</h2>
                    
                    <p class="description"> {{pageDetails.content.map.text}}</p>
                </div>

                <div class="button-get-started">
                    <a href="#gaia" class="btn btn-danger btn-fill btn-lg">Contact Us</a>
                </div>
            </div>
        </div>
    </div>-->


    <footer id="footerSection" class="footer footer-big footer-color-black" data-color="black" *ngIf="pageDetails">
        <div class="container">
            <div class="row">
              
              
                <div class="col-md-2 col-md-offset-1 col-sm-3">
                    <div class="info">
                        <h5 class="title">Follow me on</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="{{pageDetails.content.footer.facebook}}" class="btn btn-social btn-facebook btn-simple">
                                        <i class="fa fa-facebook-square"></i> Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="{{pageDetails.content.footer.twitter}}" class="btn btn-social btn-twitter btn-simple">
                                        <i class="fa fa-twitter"></i> Twitter
                                    </a>
                                </li>
                               
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <hr>
            <a href="https://cureyo.com">
            <div class="copyright">
                 © <script> document.write(new Date().getFullYear()) </script> Built on Cureyo.com with care
            </div>
            </a>
        </div>
    </footer>
</div>
  <div class="modal fade" id="payModal2" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" style="z-index:10000; background: rgba(0,0,0,0.5);">
  <div class="modal-dialog" role="document"  style="position: relative; width:100%; height:800px; ">
    <div class="modal-content" id="payModal2">
      <div class="modal-header">
       
        <h4 class="modal-title" id="myModalLabel" style="float: left;"><b>Complete Payment</b></h4>
         <button type="button" class="btn btn-default pull-right" (click)="closePayModal()">Close</button>
        
<a href="https://www.instamojo.com/Cureyo/cureyo-care-on-boarding-tests/" rel="im-checkout" data-behaviour="remote" data-style="light" data-text="Checkout With Instamojo" data-redirect_url="http://localhost:4200/"></a>

      </div>
      
     
    </div>
  </div>
    </div>
</body>

<!--   core js files    -->
<script src="assets/js/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.js" type="text/javascript"></script>

<!--  js library for devices recognition -->
<script type="text/javascript" src="assets/js/modernizr.js"></script>

<!--  script for google maps   -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!--   file where we handle all the script from the Gaia - Bootstrap Template   -->
<script type="text/javascript" src="assets/js/gaia.js"></script>

</html>
