#login-container
{

  #login-article
  {
    max-width: auto;
    margin: 0px;
  }


  .videoDiv{
    
    width: 100%;
    height: 100%;
    width: 350px;
  }
  #login-article2
  {
    /*max-width: 580px;*/
     max-height: 380px;
    //margin: auto;
  }
  .videoDiv2{
    
    width: 100%;
    height: 50vh;
  }

  .iframe-video{
    //border:0;
    width: 350px;
    height: 197px;
    transition: all 0.5s ease-out;

  }
  
  .modalWrap {
    z-index:1000;
  }

}//login conatiner