		<div class="header header-filter" >
			<div class="container" >
				<div class="row" >
					<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
						
              
                <div>
                    <div class="card card-stats" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
                 


    <div class="card-header" style="width: 60px; height: 60px; padding: 0px;" data-background-color="cureyo">
<i class="material-icons">local_hospital</i>

</div>
	   <h4> Discuss your health issue </h4>
   

</div>
</div>

<form *ngIf="formReady && !diagnosisStarted" [formGroup]="symptomForm" class="formGroup" novalidate (ngSubmit)="saveSymptom(symptomForm.value)">

                            <div class="form-group">  
                              <label for="report_name">Enter your ailment</label>

                                <!--<input type="text" class="form-control" id="rr_Name" formControlName="rr_Name" />-->
                                <input auto-complete
                                   display-property-name="value"
                                  value-property-name="value"
                                  [list-formatter]="autocompleListFormatter"
                                  class="form-control"
                                  formControlName="symptomName"
                                  [source]="symptoms"
                                   min-chars="3"
                                  id="symptom"/>
                            </div>
							 <div class="form-group"> 
								 <button type="submit" class="btn btn-primary btn-round pull-right">Start</button>
							 </div>
                     
</form>
 <div *ngIf="diagnosisStarted" class="card card-stats" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
                 

<div class="card-footer">
    
	   <h4> {{questionText}}</h4>
   <div *ngFor="let question of questionArray">
	   <button  [ngClass]="{'hide':buttonHidden}" class="btn btn-primary btn-round" (click)="updateQuestion(question.id,question.name )">{{question.name}}</button>
   </div>
   <button  [ngClass]="{'hide':buttonHidden}" class="btn btn-primary btn-round" (click)="updateAbsentQuestion(questionArray)">None of the above</button>
</div>
</div>
					</div> <!--col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3-->
				</div> <!--row-->
			</div> <!--container-->
		</div> <!-- header-->