
<div class="main-content">
      <div class="container-fluid">
           

               <div class="col-md-12">
  <!-- **********************************************************************************-->               
                 <!-- first card-->
 <!-- **********************************************************************************-->                         
                 <div class="col-md-4">
                 
                    <div class=card>
                       <div class="card-content table-responsive">

                          <div class="row" >
                                <label><h3 class="headerID"><b>No plans</b></h3></label>
                               
                                <h4 *ngIf="checkPointsCounts"> <label> <b> Include's</b></label><p class="checkpointId"> <b>{{checkPointsCounts}}</b> CheckPoint's</p></h4>
                          </div> <!-- end of first row-->

                            <hr/>

                          <div class="row" >
                                <label><h4><b>Consult Reminder</b></h4></label> 
                                <br/>
                                <img src="assets/img/man.png" class="img-responsive" class="UserImg">
                                <label class="consultTextId" *ngIf="objTransactionTableObj"> <b> {{objTransactionTableObj[objTransactionTableObjID].Job_Frequency}} with</b> Dr {{objTransactionTableObj[objTransactionTableObjID].ConsultDrName}}</label> <br/>                                                 
                          </div> <!--end of Second row-->
                               <hr/>
                              <!-- third Row--> 
                            <div class="row" *ngIf="LabTest">
                              <label><h4><b>Test Reminder</b></h4></label> 
                                <tbody>
                      
                                   <tr *ngFor="let key of LabTestArr;let i=index;"> 
                                     <th class="testName">{{key.TestName}} <label></label></th>
                                     <th> <label>{{key.TestFreq}}</label> </th>
                                   </tr>
                                </tbody>
                                <br/>
                            </div>
                             <!-- end of third row-->
                            <hr/>
                             <!-- fourth  Row--> 
                            <div class="row">
                              <label><h4><b>Medication Reminder</b></h4></label> 
                                <tbody>
                      
                                   <tr  *ngFor="let key of MedTestArr;let i=index;"> 
                                     <th class="testName"> <label>{{key.MedName}}</label></th>
                                     <th> <label>{{key.MedFreq}}</label> </th>
                                   </tr>
                                </tbody>
                                <br/>
                            </div>
                             <!-- end of fourth row-->



                           <div class="row">
                              <div class="pull-right">
                                  <button class="btn btn-warning">Go</button>
                              </div>
                           </div>

                       </div>
                    </div>
                 
                 </div>
                 <!-- End of first card-->
  <!-- **********************************************************************************-->
                   <!-- Second card-->
  <!-- **********************************************************************************-->
                 <div class="col-md-4">
                     <div class=card>
                       <div class="card-content table-responsive">
                             <div class="row">
                                  <label><h3 class="headerID"><b>Guidance Plans</b></h3></label>
                                  <br/>
                                  <h4 *ngIf="checkPointsCounts"> <label> <b> Include's</b></label><p class="checkpointId"> <b>{{checkPointsCounts}}</b> CheckPoint's</p></h4>
                             </div>
                                   <hr/>
                             <div class="row">
                               <label><h4><b>Consult Reminder</b></h4></label>
                                    <br/> 
                               <img src="assets/img/man.png" class="img-responsive" class="UserImg">
                            <label class="consultTextId" *ngIf="objTransactionTableObj"> <b> {{objTransactionTableObj[objTransactionTableObjID].Job_Frequency}} with</b> Dr {{objTransactionTableObj[objTransactionTableObjID].ConsultDrName}}</label>               
                             </div> <!--end of Second row-->
                               <hr/>
                                <!-- third Row--> 
                            <div class="row">
                              <label><h4><b>Test Reminder</b></h4></label> 
                                <tbody>
                      
                                   <tr  *ngFor="let key of LabTestArr;let i=index;"> 
                                     <th class="testName"> <label>{{key.TestName}}</label></th>
                                     <th> <label>{{key.TestFreq}}</label> </th>
                                   </tr>
                                </tbody>
                                <br/>
                            </div>
                             <!-- end of third row-->
                            <hr/>
                             <!-- fourth  Row--> 
                            <div class="row">
                              <label><h4><b>Medication Reminder</b></h4></label> 
                                <tbody>
                      
                                   <tr *ngFor="let key of MedTestArr;let i=index;"> 
                                     <th class="testName"> <label>{{key.MedName}}</label></th>
                                     <th> <label>{{key.MedFreq}}</label> </th>
                                   </tr>
                                </tbody>
                                <br/>
                            </div>
                            <hr/>
                             <!-- end of fourth row-->
                               <div class="row" *ngIf="objTransactionTableObj">
                             <label class="consultTextId"> <b> {{objTransactionTableObj[objTransactionTableObjID].Job_Frequency}} Health Review By</b> Dr {{objTransactionTableObj[objTransactionTableObjID].ConsultDrName}}</label><br/>
                              <label class="consultTextId"> <b *ngIf="totalTestCost"> Total cost = </b>{{totalTestCost}} Rs</label>
                           </div>
                              <div class="row">
                                  <div class="pull-right">
                                      <button class="btn btn-warning">Go</button>
                                  </div>
                           </div>
                       </div>
                    </div>
                 </div>
                 <!-- End of Second  card-->
  <!-- **********************************************************************************-->    
                              <!-- third card-->

  <!-- **********************************************************************************-->  
                 
                 <div class="col-md-4">
                     <div class=card>
                       <div class="card-content table-responsive">
                          <div class="row">
                            <label><h3 class="headerID"><b>Comparihensive Plans</b></h3></label>
                            <h4 *ngIf="checkPointsCounts"> <label> <b> Include's</b></label><p class="checkpointId"> <b>{{checkPointsCounts}}</b> CheckPoint's</p></h4>
                             </div>
                                   <hr/>
                             <div class="row">
                               <label><h4><b>Consult Reminder</b></h4></label>
                                    <br/> 
                               <img src="assets/img/man.png" class="img-responsive" class="UserImg">
                            <label class="consultTextId" *ngIf="objTransactionTableObj"> <b> {{objTransactionTableObj[objTransactionTableObjID].Job_Frequency}} with</b> Dr {{objTransactionTableObj[objTransactionTableObjID].ConsultDrName}}</label>               
                             </div> <!--end of Second row-->
                               <hr/>
                                <!-- third Row--> 
                            <div class="row">
                              <label><h4><b>Test Reminder</b></h4></label> 
                                <tbody>
                      
                                   <tr  *ngFor="let key of LabTestArr;let i=index;"> 
                                     <th class="testName"> <label>{{key.TestName}}</label></th>
                                     <th> <label>{{key.TestFreq}}</label> </th>
                                   </tr>
                                </tbody>
                                <br/>
                            </div>
                             <!-- end of third row-->
                            <hr/>
                             <!-- fourth  Row--> 
                            <div class="row">
                              <label><h4><b>Medication Reminder</b></h4></label> 
                                <tbody>
                      
                                   <tr *ngFor="let key of MedTestArr;let i=index;"> 
                                     <th class="testName"> <label>{{key.MedName}}</label></th>
                                     <th> <label>{{key.MedFreq}}</label> </th>
                                   </tr>
                                </tbody>
                                <br/>
                            </div>
                            <hr/>
                             <!-- end of fourth row-->
                               <div class="row" *ngIf="objTransactionTableObj">
                             <label class="consultTextId"> <b> {{objTransactionTableObj[objTransactionTableObjID].Job_Frequency}} Health Review By</b> Dr {{objTransactionTableObj[objTransactionTableObjID].ConsultDrName}}</label><br/>
                              <label class="consultTextId"> <b *ngIf="totalTestCost"> Total cost = </b> {{totalTestCost}} Rs</label>
                           </div>
                              <div class="row">
                                  <div class="pull-right">
                                      <button class="btn btn-warning">Go</button>
                                  </div>
                           </div>
                       </div>
                    </div>
                 </div>
                 <!-- End of Third card-->
 <!-- **********************************************************************************--> 
                 
                
           </div>

      </div>
</div>
