
<div class="main-content">
      <div class="container-fluid">
           

               <div class="col-md-12">
  <!-- **********************************************************************************-->               
                 <!-- first card-->
 <!-- **********************************************************************************-->                         
                 <div class="col-md-4">
                    <div class=card>
                       <div class="card-content table-responsive">

                          <div class="row" >
                                <label><h3 class="headerID"><b>No plans</b></h3></label>
                               
                                <h4> <label> <b> Include's</b></label><p class="checkpointId"> <b>10</b> CheckPoint's</p></h4>
                          </div> <!-- end of first row-->

                            <hr/>

                          <div class="row">
                                <label><h4><b>Consult Reminder</b></h4></label> 
                                <br/>
                                <img src="assets/img/man.png" class="img-responsive" class="UserImg">
                                <label class="consultTextId"> <b> Monthly with</b> Dr Sunny Rai</label> <br/>                                                 
                          </div> <!--end of Second row-->
                               <hr/>
                              <!-- third Row--> 
                            <div class="row">
                              <label><h4><b>Test Reminder</b></h4></label> 
                                <tbody>
                      
                                   <tr > 
                                     <th class="testName"> <label>Test Name</label></th>
                                     <th> <label>Test frequency</label> </th>
                                   </tr>
                                </tbody>
                                <br/>
                            </div>
                             <!-- end of third row-->
                            <hr/>
                             <!-- fourth  Row--> 
                            <div class="row">
                              <label><h4><b>Medication Reminder</b></h4></label> 
                                <tbody>
                      
                                   <tr > 
                                     <th class="testName"> <label>Med Name</label></th>
                                     <th> <label>Med frequency</label> </th>
                                   </tr>
                                </tbody>
                                <br/>
                            </div>
                             <!-- end of fourth row-->



                           <div class="row">
                              <div class="pull-right">
                                  <button class="btn btn-warning">Go</button>
                              </div>
                           </div>

                       </div>
                    </div>
                 </div>
                 <!-- End of first card-->
  <!-- **********************************************************************************-->
                   <!-- Second card-->
  <!-- **********************************************************************************-->
                 <div class="col-md-4">
                     <div class=card>
                       <div class="card-content table-responsive">
                             <div class="row">
                                  <label><h3 class="headerID"><b>Guidance Plans</b></h3></label>
                                  <br/>
                                  <h4> <label> <b> Include's</b></label><p class="checkpointId"> <b>10</b> CheckPoint's</p></h4>
                             </div>
                                   <hr/>
                             <div class="row">
                               <label><h4><b>Consult Reminder</b></h4></label>
                                    <br/> 
                               <img src="assets/img/man.png" class="img-responsive" class="UserImg">
                            <label class="consultTextId"> <b> Monthly with</b> Dr Sunny Rai</label>               
                             </div> <!--end of Second row-->
                               <hr/>
                                <!-- third Row--> 
                            <div class="row">
                              <label><h4><b>Test Reminder</b></h4></label> 
                                <tbody>
                      
                                   <tr > 
                                     <th class="testName"> <label>Test Name</label></th>
                                     <th> <label>Test frequency</label> </th>
                                   </tr>
                                </tbody>
                                <br/>
                            </div>
                             <!-- end of third row-->
                            <hr/>
                             <!-- fourth  Row--> 
                            <div class="row">
                              <label><h4><b>Medication Reminder</b></h4></label> 
                                <tbody>
                      
                                   <tr > 
                                     <th class="testName"> <label>Med Name</label></th>
                                     <th> <label>Med frequency</label> </th>
                                   </tr>
                                </tbody>
                                <br/>
                            </div>
                            <hr/>
                             <!-- end of fourth row-->
                               <div class="row">
                             <label class="consultTextId"> <b> Monthly Health Review By</b> Dr Sunny Rai</label><br/>
                              <label class="consultTextId"> <b> Total cost = </b> 2500 Rs</label>
                           </div>
                              <div class="row">
                                  <div class="pull-right">
                                      <button class="btn btn-warning">Go</button>
                                  </div>
                           </div>
                       </div>
                    </div>
                 </div>
                 <!-- End of Second  card-->
  <!-- **********************************************************************************-->    
                              <!-- third card-->

  <!-- **********************************************************************************-->  
                 
                 <div class="col-md-4">
                     <div class=card>
                       <div class="card-content table-responsive">
                          <div class="row">
                            <label><h3 class="headerID"><b>Comparihensive Plans</b></h3></label>
                             <br/>
                                  <h4> <label> <b> Include's</b></label><p class="checkpointId"> <b>10</b> CheckPoint's</p></h4>
                             </div>
                                   <hr/>
                             <div class="row">
                               <label><h4><b>Consult Reminder</b></h4></label>
                                    <br/> 
                               <img src="assets/img/man.png" class="img-responsive" class="UserImg">
                            <label class="consultTextId"> <b> Monthly with</b> Dr Sunny Rai</label>               
                             </div> <!--end of Second row-->
                               <hr/>
                                <!-- third Row--> 
                            <div class="row">
                              <label><h4><b>Test Reminder</b></h4></label> 
                                <tbody>
                      
                                   <tr > 
                                     <th class="testName"> <label>Test Name</label></th>
                                     <th> <label>Test frequency</label> </th>
                                   </tr>
                                </tbody>
                                <br/>
                            </div>
                             <!-- end of third row-->
                            <hr/>
                             <!-- fourth  Row--> 
                            <div class="row">
                              <label><h4><b>Medication Reminder</b></h4></label> 
                                <tbody>
                      
                                   <tr > 
                                     <th class="testName"> <label>Med Name</label></th>
                                     <th> <label>Med frequency</label> </th>
                                   </tr>
                                </tbody>
                                <br/>
                            </div>
                            <hr/>
                             <!-- end of fourth row-->
                               <div class="row">
                             <label class="consultTextId"> <b> Monthly Health Review By</b> Dr Sunny Rai</label><br/>
                              <label class="consultTextId"> <b> Total cost = </b> 2500 Rs</label>
                           </div>
                              <div class="row">
                                  <div class="pull-right">
                                      <button class="btn btn-warning">Go</button>
                                  </div>
                           </div>
                       </div>
                    </div>
                 </div>
                 <!-- End of Third card-->
 <!-- **********************************************************************************--> 
                 
                
           </div>

      </div>
</div>
