#doctor-container{
  .dcard{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    p{
      font-size: 16px;
      margin: 0;
      padding: 0;
      line-height: 22px;
    }
  }

}
