
<div class="main-content">
        <div class="container-fluid">
           <!-- above container classes-->
<!-- *******************************************************************************-->           
    <br/> <br/>
 <div class="col-md-2"></div>

  <div class="col-md-8">
                <div class="card">
                  <form *ngIf="formReady" [formGroup]="checkUpForm" class="formGroup"  novalidate >
                    <!-- card header portion-->
                    <div class="card-header" data-background-color="cureyo">
                        <h4 class="title">Quick Information </h4>

                        <p class="category"> Please provide your basic information</p>

                    </div> <!-- card header portion end-->
                    
              <div class="card-content table-responsive">
                <!-- first row-->
              <div class="row" >
                   <!-- first name formcontrol-->
                    <div class="col-md-3">
                            <div class="form-group">
                                 <label for="name">First Name </label>
  
                                  <input type="text" class="form-control" formControlName="first_Name" />
                            </div>
                    </div>  
                    <!-- end of  first name formcontrol-->
                     <!-- last name formcontrol-->
                    <div class="col-md-3">
                            <div class="form-group">
                                 <label for="name">Last Name </label>
  
                                  <input type="text" class="form-control" formControlName="last_Name"/>
                            </div>
                    </div>
                     <!-- end of first name formcontrol--> 
                      <!-- email formcontrol-->
                    <div class="col-md-3">
                            <div class="form-group">
                                 <label for="name">Email </label>
  
                                  <input type="text" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,8})+$" class="form-control" formControlName="Email" />
                            </div>
                    </div>
                      <!-- end of email formcontrol-->
                      <!-- phone number  formcontrol-->
                    <div class="col-md-3">
                            <div class="form-group">
                                 <label for="name">Phone Number  </label>
  
                                  <input type="text" class="form-control" pattern="(7|8|9)\d{9}" formControlName="phone"/>
                            </div>
                    </div>
                      <!-- phone number  formcontrol-->  
              
              </div> <!-- end of row-->

              <!--second row-->
                 <div class="row" >

                          <!-- date of birth formcontrol-->
                   
                            
                        <div class="form-group">
                                 

<!--<div *ngIf="fbReady" id="fb-messenger_checkbox" class="fb-messenger-checkbox"  
  [attr.origin]="pageURL"
  [attr.page_id]="pageId"
  [attr.messenger_app_id]="appId"
  [attr.user_ref]="userFBId" 
  prechecked="true" 
  allow_login="true" 
  size="large"></div>    
                        </div>
                       -->
                                    <!--<script>

    window.fbAsyncInit = function() {
      FB.init({
        appId: "appId",
        xfbml: true,
        version: "v2.6"
      });

    };
    
    (function(d, s, id){
       var js, fjs = d.getElementsById('fb-messenger_checkbox')[0];
       if (d.getElementById(id)) { return; }
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  </script>-->
  <!--<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : appId,
            xfbml      : true,
            version    : 'v2.6'
        });

        FB.Event.subscribe('messenger_checkbox', function(e) {
            console.log("messenger_checkbox event");
            console.log(e);

            if (e.event == 'rendered') {
                console.log("Plugin was rendered");
            } else if (e.event == 'checkbox') {
                var checkboxState = e.state;
                console.log("Checkbox state: " + checkboxState);
            } else if (e.event == 'not_you') {
                console.log("User clicked 'not you'");
            } else if (e.event == 'hidden') {
                console.log("Plugin was hidden");
            }
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk')
    );

    function confirmOptIn() {
        FB.AppEvents.logEvent('MessengerCheckboxUserConfirmation', null, {
            'app_id': appId,
            'page_id': pageId,
            'ref':'shopping-cart-company',
            'user_ref':'1234'
        });
    }
</script>     
                 <div *ngIf="fbReady" id="fb-messenger_checkbox" class="fb-send-to-messenger fb_iframe_widget" [attr.data-messenger_app_id]="appId" [attr.data-page_id]="pageId" [attr.data-ref]="passThrough" color="blue" size="xlarge"> </div>
                    
                    <div class="col-md-7">
    <div class="fb-messenger-checkbox"  
        origin="http://login.localhost:4200/"
        [attr.data-page_id]="pageId"
        [attr.data-messenger_app_id]="appId"
        user_ref="1234" 
        prechecked="true" 
        allow_login="true" 
        size="large">
    </div>   
</div>-->
<div class="col-md-6">
<span style="vertical-align: bottom; width: 256px; height: 68px;"><iframe name="f39f6d0a0712c08" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:send_to_messenger Facebook Social Plugin" [src]="fbURLSanit" style="border: none; visibility: visible; width: 256px; height: 68px;" class=""></iframe></span></div>  
<div  *ngIf="!connectED" class="col-md-6"> <a class="btn btn-round btn-warning" (click)="hAPIConnect()">Connect Wearables</a>    </div>         
                    </div>

              
                 </div>
              <div class="row" >

                          <!-- date of birth formcontrol-->
                    <div class="col-md-3">
                            
                        <div class="form-group">
                                 <label for="name">Date of Birth  </label>
                                 <input type ="date" class="form-control" formControlName="DOB"  [(ngModel)]="birthdate"  value="birthdate"/>

                            </div>     
                            
                    </div>  
                    <!-- end of  date of birth formcontrol-->
                     <!-- visit type formcontrol-->
                    <div  *ngIf="!connectED" class="col-md-3">
                            <div class="form-group">
                                 <label for="insurance">Health Insurance </label>
  
                                 <select class="form-control" formControlName="insurance">
                                   <option  value="no-cover">No Health Insurance</option>
                                   <option  value="company-cover">Covered by Employer</option>
                                   <option  value="govt-cover">Covered by Govt.</option>
                                   <option  value="personal-cover">Personal Cover</option>
                                 </select>
                            </div>
                    </div>
                    <div class="col-md-3">
                            <div class="form-group">
                                 <label for="language">Preferred Language </label>
  
                                 <select class="form-control" formControlName="language">
                                   <option  value="English">English</option>
                                   <option  value="Hindi">हिंदी (Hindi)</option>
                                   <option  value="Tamil">தமிழ் (Tamil)</option>
                                   <option  value="Telugu">తెలుగు (Telugu)</option>
                                  
                                 </select>
                            </div>
                    </div>
                     <!-- end of visit type formcontrol--> 
                      
                      <!-- Description formcontrol-->
                    <!--<div class="col-md-6">
                            <div class="form-group">
                                 <label for="name">Discription of Issue  </label>
  
                                  <input type="text" class="form-control" formControlName="description"/>
                            </div>
                    </div>-->
                      <!-- phone number  formcontrol--> 
                      
              </div>
              <div  *ngIf="!connectED" class="row">
                                  <!-- visit type formcontrol-->
                    <div class="col-md-3">
                            <div class="form-group">
                                 <label for="visit_Type">Consultation Type</label>
  
                                 <select class="form-control" formControlName="visit_Type">
                                   <option  value="-Km21vBO8lVxI8Qp4jNE">First Consultation</option>
                                   <option  value="-Km22sYEbCy9X-VNZicq">Follow-Up Consultation</option>
                                 </select>
                            </div>
                    </div>
                     
                    <!-- gender -->
                     <div class="col-md-3">
                            <div class="form-group">
                                 <label for="visit_Type">Gender</label>
  
                                 <select class="form-control" formControlName="sex">
                                   <option  value="male">Male</option>
                                   <option  value="female">Female</option>
                                 </select>
                            </div>
                    </div>
                                            <div *ngIf="hasSym" class="col-md-3">
                            <div class="form-group">
                                 <label for="primeSymptom">Prime Symptom</label>
  
                                 <select class="form-control" formControlName="primeSymptom">
                                   <option  *ngFor="let symptom of symptoms" value="{{symptom.id}}">{{symptom.name}}</option>
                                 </select>
                            </div>
                    </div>
                     <div class="col-md-6">
                            <div class="form-group">
                                 <app-file-upload-checkUp
                                 [userId]="userId"></app-file-upload-checkUp>
  
                                 
                            </div>
                    </div>
                    <!-- end of gender--> 
                     <!-- end of visit type formcontrol--> 
                     </div> <!-- end of second row-->
             <!-- third row-->
              <div *ngIf="!connectED" class="row">
                      <!-- interface implementation to repeat the div's -->
                    <div class="medicines" formArrayName="conditions">
                        <div class="clearfix medicine" *ngFor="let condition of checkUpForm.controls.conditions.controls; let i=index">
                             <div [formGroupName]="i">
                    <!--  end of interface implementation -->  
                    <div class="col-md-6">
                            <div class="form-group">
                                  <label for="name">Existing Conditions </label>
  
                                 <select class="form-control" formControlName="conditionsOption">
                                   <option  value="Diabetes">Diabetes</option>
                                   <option  value="cholestrol">Cholestrol</option>
                                   <option  value="hypertension">HyperTension</option>
                                   <option  value="thyroid-disorder">Thyroid Disorder</option>
                                 </select>  
                            </div>
                    </div>    
                    
                     <div class="col-md-6">
                            <div class="form-group">
                                     <label for="name">Since </label>
  
                                 <select class="form-control" formControlName="since">
                                        <option  value="less6">< 6 Months</option>
                                        <option  value="6to1">6 Month - 1 Years</option>
                                        <option  value="1to2">1 - 2 Years</option>
                                        <option  value="2to4">2 - 4 Years</option>
                                        <option  value="4to7">4 - 7 Years</option>
                                        <option  value="7to10">7 - 10 Years</option>
                                        <option  value="morethan10">10+ Years</option>
                                 </select>  
                            </div>
                    </div>     
                    <!-- closing tags of interface implementation-->
                      </div>
                    </div> 
                  </div>
                    <!-- closing tags of interface implementation-->

              </div>       
              <!-- end of third row-->  
              <div  *ngIf="!connectED" class="row">
  
                      <div class="pull-left" >
                          <button [ngClass]="{'hide': formSaved}" class="btn btn-primary btn-round"  (click)="AddConditions()">Add more</button>
                      </div>
              </div>
              

<!-- submit button code    -->
                <div class="actions clearfix">
                      <div class="pull-right" >
                          <button [ngClass]="{'hide': formSaved}" type="submit" class="btn btn-warning btn-round" [disabled]="!checkUpForm.valid && !connectED" (click)="save_checkUpForm(checkUpForm)">Save</button>
                      </div>

                        <div [ngClass]="{'hide': !formSaved}" class="bareP">
                            <p>Thanks! This information will be shared with the doctor!</p>
                        </div>
                </div>
<!-- end of submit button-->
                    </div>
                  </form>
                </div>
            </div><!--  end of medication reminder-->

<div class="col-md-2"></div>





<!-- *******************************************************************************-->
           <!-- end of container classes-->
      </div>
</div>

