>
<div class="main-content">
        <div class="container-fluid">
           <!-- above container classes-->
<!-- *******************************************************************************-->           
    <br/> <br/>
 <div class="col-md-2"></div>

  <div class="col-md-8">
                <div class="card">
                  <form [formGroup]="checkUpForm" class="formGroup" (ngSubmit)="save_checkUpForm(checkUpForm)" novalidate >
                    <!-- card header portion-->
                    <div class="card-header" data-background-color="blue">
                        <h4 class="title">Check Up Form </h4>

                        <p class="category"> This Is Check Up Form  </p>

                    </div> <!-- card header portion end-->
                    
              <div class="card-content table-responsive">
                <!-- first row-->
              <div class="row" >
                   <!-- first name formcontrol-->
                    <div class="col-md-3">
                            <div class="form-group">
                                 <label for="name">first Name </label>
  
                                  <input type="text" class="form-control" formControlName="first_Name" />
                            </div>
                    </div>  
                    <!-- end of  first name formcontrol-->
                     <!-- last name formcontrol-->
                    <div class="col-md-3">
                            <div class="form-group">
                                 <label for="name">last Name </label>
  
                                  <input type="text" class="form-control" formControlName="last_Name"/>
                            </div>
                    </div>
                     <!-- end of first name formcontrol--> 
                      <!-- email formcontrol-->
                    <div class="col-md-3">
                            <div class="form-group">
                                 <label for="name">Email </label>
  
                                  <input type="text" class="form-control" formControlName="Email" />
                            </div>
                    </div>
                      <!-- end of email formcontrol-->
                      <!-- phone number  formcontrol-->
                    <div class="col-md-3">
                            <div class="form-group">
                                 <label for="name">phone number  </label>
  
                                  <input type="text" class="form-control" formControlName="phone"/>
                            </div>
                    </div>
                      <!-- phone number  formcontrol-->  
              
              </div> <!-- end of row-->

              <!--second row-->
              <div class="row" >

                          <!-- date of birth formcontrol-->
                    <div class="col-md-3">
                            
                        <div class="form-group">
                                 <label for="name">Date of birth  </label>
                                 <input type ="date" class="form-control" formControlName="DOB"/>

                            </div>     
                            
                    </div>  
                    <!-- end of  date of birth formcontrol-->
                     <!-- visit type formcontrol-->
                    <div class="col-md-3">
                            <div class="form-group">
                                 <label for="name">visit type </label>
  
                                 <select class="form-control" formControlName="visit_Type">
                                   <option  value="firstconsultation">First Consultation</option>
                                   <option  value="followupconsultation">Follow-Up Consultation</option>
                                 </select>
                            </div>
                    </div>
                     <!-- end of visit type formcontrol--> 
                      
                      <!-- Description formcontrol-->
                    <div class="col-md-6">
                            <div class="form-group">
                                 <label for="name">Discription of Issue  </label>
  
                                  <input type="text" class="form-control" formControlName="description"/>
                            </div>
                    </div>
                      <!-- phone number  formcontrol--> 
                      
             </div> <!-- end of second row-->
             <!-- third row-->
              <div class="row">
                      <!-- interface implementation to repeat the div's -->
                    <div class="medicines" formArrayName="conditions">
                        <div class="clearfix medicine" *ngFor="let condition of checkUpForm.controls.conditions.controls; let i=index">
                             <div [formGroupName]="i">
                    <!--  end of interface implementation -->  
                    <div class="col-md-6">
                            <div class="form-group">
                                  <label for="name">Existing Conditions </label>
  
                                 <select class="form-control" formControlName="existingCondition">
                                   <option  value="Diabetes">Diabetes</option>
                                   <option  value="cholestrol">Cholestrol</option>
                                   <option  value="hypertension">HyperTension</option>
                                   <option  value="thyroid-disorder">Thyroid Disorder</option>
                                 </select>  
                            </div>
                    </div>    
                     <div class="col-md-3">
                            <div class="form-group">
                                     <label for="name">Since </label>
  
                                 <select class="form-control" formControlName="since">
                                   <option  value="Diabetes">Diabetes</option>
                                   <option  value="cholestrol">Cholestrol</option>
                                   <option  value="hypertension">HyperTension</option>
                                   <option  value="thyroid-disorder">Thyroid Disorder</option>
                                 </select>  

                            </div>
                    </div>   
                     <div class="col-md-3">
                            <div class="form-group">
                                     <label for="name">When </label>
  
                                 <select class="form-control" formControlName="when">
                                   <option  value="Diabetes">Diabetes</option>
                                   <option  value="cholestrol">Cholestrol</option>
                                   <option  value="hypertension">HyperTension</option>
                                   <option  value="thyroid-disorder">Thyroid Disorder</option>
                                 </select>  
                            </div>
                    </div>     
                    <!-- closing tags of interface implementation-->
                      </div>
                    </div> 
                  </div>
                    <!-- closing tags of interface implementation-->

              </div>       
              <!-- end of third row-->  
              <div class="row">
                      <div class="pull-left" >
                          <button  class="btn btn-primary" (click)="AddConditions()">Add more</button>
                      </div>
              </div>
              

<!-- submit button code    -->
                <div class="actions clearfix">
                      <div class="pull-right" >
                          <button type="submit" class="btn btn-warning">Add</button>
                      </div>

                        <!--<div [ngClass]="{'hide': !itemAdded5}" class="bareP">
                            <p>Thanks! This Care Item has been scheduled!</p>
                        </div>-->
                </div>
<!-- end of submit button-->
                    </div>
                  </form>
                </div>
            </div><!--  end of medication reminder-->

<div class="col-md-2"></div>





<!-- *******************************************************************************-->
           <!-- end of container classes-->
      </div>
</div>

